################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/22ab7dcd-429a-498e-932d-6107db89cc3d.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/2b513198-0a67-4e40-82c3-95f1eae802fd.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/3dcef1ca-114b-43bd-b51e-d6f8c22b04d1.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/549092cb-7f88-47d1-91e1-1752148536c6.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/7240573a-51bd-4c3b-b863-7a9b095a8521.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/7e599b95-fda7-4580-87af-2d2f2f6af933.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/84e353dd-931b-4a21-9bfd-6d71d4ebc1f4.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/c493025c-9703-422a-95d4-3fbf657fead9.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/c6d312ee-c8eb-44c7-91df-1a5b9498a26e.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/FileContentIndex/f423b744-dbfd-4bd2-85e4-5139fde52e05.vsidx
SterowanieStanowiskiem/.vs/SterowanieStanowiskiem/v17/.suo
