[Unit]
Description=Auto Update Repository Service

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi/app
ExecStart=/home/pi/app/PI/update_repo.sh
